*{
  box-sizing: border-box;
  margin: 0;
}

body{
  background-image: url(img/background.jpg);
  background-size: cover;
  font-family: sans-serif;
  margin-top: 35px;
  color: white;
}

.container{
  width: 1200px;
  height: 800px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 100px;
}

.logo{
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;
}

.logo-text{
  color: rgb(83, 255, 26);
  text-align: center;
  padding: 5px;
}

.nav-bar{
  text-align: center;
  background-color: rgb(83, 255, 26);
  padding: 10px;
}

.nav-bar ul li{
  list-style: none;
  display: inline-block;
  margin: 2px;
  background-color: lime;
}

.scooter{
  margin-top: 20px;
  padding: 3px;
}

.scooter > h2, h4{
  display: inline-block;
}

.address{
  margin-top: 5px;
  font-size: 15px;
  font-family: inherit;
}

.arrow:after{
  content: "\21A6";
  color: white;
}

.charge > h4{
  display: block;
  margin-top: 5px;
}

.charge-yellow{
  width: 360px;
  height: 8px;
  background-color: rgb(255, 210, 77);
  display: inline-block;
  padding: 15px;
  border-radius: 5px;
  margin-top: 2px;
}

.charge-green{
  width: 610px;
  height: 8px;
  background-color: rgb(51, 204, 0);
  display: inline-block;
  padding: 15px;
  border-radius: 5px;
  margin-top: 2px;
}

.charge-red{
  width: 130px;
  height: 8px;
  background-color: rgb(179, 45, 0);
  display: inline-block;
  padding: 15px;
  border-radius: 5px;
  margin-top: 2px;
}

footer{
  text-align: center;
  padding-top: 30px;
}
